<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very Simple Music Library</title><br>
</head>
<body>
        <li><a href="/">HOME / REFRASH PAGE</a>
        <table border="1">
            <tr><th>Search by Song Name</th><th>Search by Band/Author</th></tr>
            <tr>
                <td>
                    <form method="POST" action=".">
                        <input name="name" type="text">
                        <button name="search" type="submit" value="name">Search</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action=".">
                        <input name="band" type="text">
                        <button name="search" type="submit" value="band">Search</button>
                    </form>
                </td>
            </tr>
        </table>
        <table border="1">
            <tr><th>Num_id</th><th>Name*</th><th>Band*</th><th>Album</th><th>Genre*</th><th>Year</th><th>Functions</th></tr>
            <tr>
                <form method="POST" action=".">
                    <td></td>
                    <td><input name="name" type="text"></td>
                    <td><input name="band" type="text"></td>
                    <td><input name="album" type="text"></td>
                    <td><input name="genre" type="text"></td>
                    <td><input name="year" type="text"></td>
                    <td>
                        <button name="insert_new" type="submit" value="1">Add New Track</button>
                    </td>
                </form>
            </tr>
            {% for id, name, band, album, genre, year in context %}
            <tr>
                <td>{{ id }}</td>
                <form method="POST" action=".">
                    <td><input name="name" type="text" value="{{ name }}"></td>
                    <td><input name="band" type="text" value="{{ band }}"></td>
                    <td><input name="album" type="text" value="{{ album }}"></td>
                    <td><input name="genre" type="text" value="{{ genre }}"></td>
                    <td><input name="year" type="text" value="{{ year }}"></td>
                    <td>
                        <button name="update" type="submit" value="{{ id }}">Update</button>
                        <form method="POST" action=".">
                            <button name="delete" type="submit" value="{{ id }}">Delete</button>
                        </form>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
</body>
</html>