{% extends 'mbsapp/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1>Create new Alert</h1>
    <form method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Create Alert</button>
    </form>
{% endblock content %}

