{% extends 'mbsapp/base.html' %}
{% load bootstrap4 %}
{% load mbsapp_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<ol>
    <table class="table">
        {% if user.is_authenticated %}
          <thead>
            <tr>
              <th colspan="4">
                    <form method="post">{% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Add or Update Student</button>
                    </form>
              </th>
            </tr>
          </thead>
        {% endif %}
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student Name</th>
          <th scope="col">Student Marks</th>
          <th scope="col"></th>
        </tr>
      {% for element in students %}
        <tr>
            {% include 'includes/students-list.html' %}
            {% if user.is_authenticated %}
                <td><a href="{% url 'student-update' id=element.id %} " class="btn btn-primary">Update</a></td>
            {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</ol>

{% endblock content %}
