<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        li {
        list-style-position: inside;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{% url 'home' %}">MemberShip</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher' %}">Teachers <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'group' %}">Groups</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Link list
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'generate-student' %}">Generator one student</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'generate-students' %}">Generator multiple students</a>
                <a class="dropdown-item" href="{% url 'add-student' %}">Add or update Student</a>
                <a class="dropdown-item" href="{% url 'add-teacher' %}">Add or update Teacher</a>
            </div>
          </li>
        </ul>
      </div>
        {% if user.is_authenticated %}
            <span class="navbar-brand"><a href="/profile/{{ user.id }}/" class="navbar-brand">Hi, {{ user.username }}! {{ user.email }}</a></span>
            <a class="btn btn-outline-light" href="{% url 'logout' %}" style="margin-right: 5px;">Log out</a>
        {% else %}
            <a class="btn btn-outline-light" href="{% url 'login' %}" style="margin-right: 5px;">Log in</a>
        {% endif %}
        <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>


    <br>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>