{% extends 'mbsapp/base.html' %}
{% load bootstrap4 %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<ol>
    <table class="table">
        {% if user.is_authenticated %}
          <thead>
            <tr><th colspan="3">
                <form method="get" action=".">
                    <table>
                      <tbody>
                        <tr>
                          <td><input name="amount" type="number" value="100"></td>
                          <td><button type="submit" class="btn btn-primary">Apply And Generate multiple Students!</button></td>
                        </tr>
                      </tbody>
                    </table>
                </form>
            </th>
            </tr>

          </thead>
        {% endif %}
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student Name</th>
          <th scope="col">Student Marks</th>
        </tr>
      {% for element in students %}
        <tr>
          {% include 'includes/students-list.html' %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</ol>

{% endblock %}
