{% extends 'mbsapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<ol>
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student Name</th>
          <th scope="col">Student Marks</th>
        </tr>
      {% for element in students %}
        <tr>
          <th scope="row"><li></th>
          <td>{{ element.name }}</td>
          <td>{{ element.marks }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</ol>

{% endblock %}
