{% extends 'mbsapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<ol>
    <table class="table">
      <thead>
          <tr>
              <th colspan="3"><h2>Groups list</h2></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subject Name</th>
          <th scope="col">Subject Type</th>
        </tr>
      {% for element in groups %}
        <tr>
            <th scope="row"><li></th>
            <td>{{ element.subject_name }}</td>
            <td>{{ element.subject_type }}</td>
            <td>
                <span>
                    <form method="post" action="{% url 'group-subscribe' id=element.id %}"> {% csrf_token %}
                        {% if user not in element.subject_subscribers.all and count_subject < 5 %}
                            <input class="btn btn-primary" type="submit" value="Subscribe">
                        {% elif user in element.subject_subscribers.all %}
                            <input class="btn btn-danger" type="submit" value="Unsubscribe">
                        {% endif%}
                    </form>
                </span>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</ol>

{% endblock %}
