{% extends 'mbsapp/base.html' %}
{% load mbsapp_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<ol>
    <table class="table">
      <thead>
          <tr>
              <th colspan="3"><h2>Random 5 teachers</h2></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Teacher Name</th>
          <th scope="col">Subject Name</th>
        </tr>
        {% random_teacher as teachers %}
        {% for element in teachers %}
            <tr>
                {% include 'includes/teachers-list.html' %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
</ol>


<ol>
    <table class="table">
      <thead>
          <tr>
              <th colspan="3"><h2>Students list</h2></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subject Name</th>
          <th scope="col">Subject Type</th>
        </tr>
      {% for element in students %}
        <tr>
            {% include 'includes/students-list.html' %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</ol>

{% endblock content %}
