{% extends 'mbsapp/base.html' %}
{% load bootstrap4 %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<form method="post"> {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
<br><a href="{% url 'registration' %}" class="btn btn-primary">Registration</a>

{% endblock content %}
