{% extends 'mbsapp/base.html' %}
{% load bootstrap4 %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <p>
        {{ object.username }}
        <form method="post"> {% csrf_token %}
        {% if user not in object.subscribers.all %}
            <button class="btn btn-primary" type="submit">Subscribe</button>
        {% else %}
            <button class="btn btn-danger" type="submit">Unsubscribe</button>
        {% endif%}
        </form>
    </p>
    <p>
        {% for post in objects.post_set.all %}
        {% endfor %}

    </p>

{% endblock content %}
