{% extends 'mbsapp/base.html' %}
{% load bootstrap4 %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<form method="post"> {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock content %}
