{% extends 'mbsapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<ol>
    <table class="table">
      <thead>
          <tr>
              <th colspan="3"><h2>Teachers list</h2></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Teacher Name</th>
          <th scope="col">Subject Name</th>
        </tr>
      {% for element in teachers %}
        <tr>
            {% include 'includes/teachers-list.html' %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</ol>

{% endblock %}
